{% extends 'index.html' %}

{% block gramota %}
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Грамота</h1>
        <a href="/add_gramota/">
            <button type="button" class="btn btn-primary">Добавить грамоту
            </button>
        </a>
        </div>
    <body>
{#        <input type="text" id="ArticleNameInput" onkeyup="myFunction()" placeholder="Search for names..">#}
{#        <input type="text" id="TitleInput"  placeholder="Search for names..">#}
{##}
{#        <button type="submit" id="myTestButton" onekeyup="myFunction"></button>#}
{##}
{#        <script>#}
{#            function myFunction() {#}
{#              // Declare variables#}
{#              var article_input, title_input, article_filter, table, tr, article_td, title_td, i;#}
{#              article_input = document.getElementById("ArticleNameInput");#}
{#              title_input = document.getElementById("TitleInput");#}
{#              article_filter = article_input.value.toUpperCase();#}
{#              title_filter =  title_input.value.toUpperCase();#}
{#              table = document.getElementById("myTable");#}
{#              tr = table.getElementsByTagName("tr");#}
{##}
{#              // Loop through all table rows, and hide those who don't match the search query#}
{#              for (i = 0; i < tr.length; i++) {#}
{#                article_td = tr[i].getElementsByTagName("td")[0];#}
{#                title_td = tr[i].getElementsByTagName("td")[3];#}
{#                if ((article_td)&(title_td)) {#}
{#                  if ((article_td.innerHTML.toUpperCase().indexOf(article_filter) > -1)&(title_td.innerHTML.toUpperCase().indexOf(td_filter) > -1))#}
{#                  {#}
{#                    tr[i].style.display = "";#}
{#                  } else {#}
{#                    tr[i].style.display = "none";#}
{#                  }#}
{#                }#}
{#              }#}
{#            }#}
{#        </script>#}




         <table class="table" id="myTable" data-paging="true">

        <thead class="thead-light">
            <tr>
                <th scope="col col-lg-2">Статья</th>
                <th scope="col col-lg-2">Автор</th>
{#                <th scope="col col-lg-2">Автор до</th>#}
                <th scope="col">Имя в источниках</th>
                <th scope="col">Титулы</th>
                <th scope="col">Даты жизни</th>
                <th scope="col-md-auto">Биография</th>
{#                <th scope="col">Семейные отношения</th>#}
{#                <th scope="col">Другое</th>#}
{#                <th scope="col">Источники</th>#}
{#                <th scope="col">Литература</th>#}
            </tr>
        </thead>
        <tbody>
            {% for historynote in historynotes %}
                <tr>

                    <td>
                        <a href = "/show_gramota/{{ historynote.pk }}/"
                           class = "card-link">{{historynote.article_name}}
                        </a>
                    </td>
                    <td>{{ historynote.author }}</td>
{#                    <td>{{historynote.author_before}}</td>#}
                    <td>{{historynote.name_in_sources }}</td>
                    <td>{{historynote.titles }}</td>
                    <td>{{historynote.life_dates }}</td>
                    <td>{{ historynote.biography }}</td>
{#                    <td>{{ historynote.family_relationship }}</td>#}
{#                    <td>{{ historynote.other }}</td>#}
{#                    <td>{{ historynote.sources }}</td>#}
{#                    <td>{{ historynote.literature }}</td>#}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>

{% endblock %}

