
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for historynote in historynotes %}
    <div>
        <h1><a href="">{{ historynote.name_in_sources}}</a></h1>
        <p>{{ historynote.titles|linebreaksbr }}</p>
        <p>{{ historynote.life_dates|linebreaksbr }}</p>
    </div>
        {% endfor %}

        {{ historynotes }}}
    </body>
</html>