{% extends 'index.html' %}

{% block show_gramota %}
    <div class="historynote">

     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
         <h1>{{ historynote.article_name }}</h1>
         <a href="{% url 'update_gramota' pk=historynote.pk %}">
            <button type="button" class="btn btn-primary">Редактировать грамоту
            </button>
         </a>
        </div>
        <div class="">
            <h5>Имя в источниках:</h5>
            {{ historynote.name_in_sources }}
        </div>
        <h5>Титулы:</h5>
            {{ historynote.titles }}
        <h5>Даты жизни:</h5>
            {{ historynote.life_dates }}
        <h5>Биография:</h5>
            {{ historynote.biography }}
        <h5>Семейные отношения:</h5>
            {{ historynote.family_relationship }}
        <h5>Другое:</h5>
            {{ historynote.others }}
        <h5>Источники:</h5>
            {{ historynote.sources }}
        <h5>Литература:</h5>
            {{ historynote.literature }}

    </div>

{% endblock %}