{% extends 'testsite/index.html'%}

{% block update_gramota %}


    <div class="container">
        <div class="">
            <div class="">
            <form action="" method="post">
                {% csrf_token %}
                <button type="button" class="btn btn-primary btn-sm" onClick="window.open(  href='/symbols_panel/' ,'mywin','width=500,height=500');"><span class="icon">Open</span></button>
                <button type="button" >Вставить симовл</button>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <a href="">
                            <button type="button" class="btn btn-secondary">Отмена</button>
                        </a>
            </form>
        </div>
    </div>
    </div>
{% endblock %}

{#{% url 'show_gramota' pk=historynote.pk %}#}